 #integracao2{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
 }
 
 .vermelha{
    background-color: red;
}
 .azul{
    background-color: blue;
}
 .verde{
    background-color: green;
}